body {
    background-color: lightslategray
}
.nav-item {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
} 
.container {
    background-color: blanchedalmond
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

